@import "compass/reset";
@import "compass/css3/images";
@import "vars", "mixin", "modal", "layout";

html {
	overflow: hidden;
}

body {
	font-family: Verdana;
	font-size: 1em;
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #1b1a1e;
	@include filter-gradient(#4d4e50, #1b1a1e, horizontal);
	@include background-image(radial-gradient(center, circle cover, #4d4e50 0%,#363638 50%,#272829 75%,#1b1a1e 100%));
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	color: $text-color-w;
}

strong {
	font-weight: bold;
}

input:active, textarea:active {
	outline:none;
}

:focus {
	outline:none;
}

.content {
	padding: 10px;
}

.row {
	float: left;
	width: 100%;
	:before, :after {
		display: table;
		box-sizing: border-box;
		content: " ";
	}
	:after {
		clear: both;
	}
}

.win-control {
	float: left;
	padding: 0 0 0 30px;
}

.ico {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-top: 1px;
	line-height: 14px;
	vertical-align: text-top;
	background-repeat: no-repeat;
	cursor:pointer;
	&.dashboard {
		background-image: url("../img/dashboard.png");
		background-position: 0 0;
		width: 25px;
	}
	&.resize-small {
		background-image: url("../img/resize-small.png");
		background-position: 0 0;
		margin-left: 12px;
	}
	&.settings {
		background-image: url("../img/settings.png");
		background-position: 0 0;
		width: 22px;
		height: 22px;
		margin-top: 7px;
		margin-left: 11px;
	}
	&.prezent {
		width: 28px;
		height: 29px;
		background-image: url("../img/prezent.png");
	}
	&.micro {
		width: 18px;
		height: 31px;
		background-image: url("../img/micro.png");
	}
	&.camera {
		width: 31px;
		height: 25px;
		background-image: url("../img/camera.png");
	}
	&.pictr {
		width: 27px;
		height: 23px;
		background-image: url("../img/pictr.png");
	}
	&.undo {
		width: 27px;
		height: 23px;
		background-image: url("../img/undo.png");
		background-position: 5px 2px;
	}
	&.text-color {
		width: 27px;
		height: 20px;
		background-image: url("../img/text-color.png");
		background-position: 6px 2px;
	}
	&.bgr-color {
		width: 21px;
		i {
			margin: 3px 0 0 2px;
			display: inline-block;
			border-radius:1px;
			width: 21px;
			height: 11px;
			background-color: #6d6e71;
		}
	}
	&.text-al-left {
		width: 20px;
		height: 15px;
		background-image: url("../img/text-al.png");
		background-position: 0px 0px;
		margin-right: 11px;
	}
	&.text-al-center {
		width: 20px;
		height: 15px;
		background-image: url("../img/text-al.png");
		background-position: -30px 0px;
		margin-right: 11px;
	}
	&.text-al-right {
		width: 20px;
		height: 15px;
		background-image: url("../img/text-al.png");
		background-position: -60px 0px;
	}
	&.column-one {
		width: 19px;
		height: 15px;
		background-image: url("../img/column.png");
		background-position: 0px 0px;
		margin-right: 10px;
	}
	&.column-two {		
		width: 19px;
		height: 15px;
		background-image: url("../img/column.png");
		background-position: -29px 0px;
	}
}
.icon-bar {
	width: 25px;
	height: 5px;
	background: $text-color;
	border-radius: 3px;
	margin-top: 1px;
	position: relative;
	top:2px;
}
.btn {
	border:1px solid #494949;
	display: inline-block;
	border-radius:19px;
	padding: 0 19px;
	height: 38px;
	line-height: 38px;
	font-size: 18px;
	cursor: pointer;
	color:$text-color;
	font-family: $text-ff;
	&:hover {
		color:$text-color-w;
	}
	&:first-child {
		margin-right: 20px;
	}
}
.collapse {
	display: inline-block;
	font-size: 18px;
	cursor: pointer;
	&:hover{
		.icon-bar {
			background: $text-color-w;
		}
	}
}
.collapse-bar {
	padding: 0px 0 0 20px;
	display: inline-block;
}
.book-control {
	float: right;
	padding-right: 30px;
	margin-top: -32px;
}
.centr {
	margin-top: 33px;
}
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 4px solid $text-color;
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-left: 4px solid rgba(0, 0, 0, 0);
	content: "";
	margin: 8px 0 0 2px;
	border-bottom-color: $text-color;
	cursor: pointer;
	&.active {
		border-top: 4px solid $blue-bgr;
		border-bottom-color: $blue-bgr;
	}
}
.controls {
	position: absolute;
	left:50%;
	top:12px;
	.bar {
		width: 19px;
		height: 14px;
		cursor: pointer;
		display: block;
		.up {
			display: block;
			width: 19px;
			height: 14px;
			background: url("../img/up.png") left top no-repeat;
		}
		&:hover {
			.up {
				background: url("../img/up.png") left bottom no-repeat;
			}
		}
	}
}
.personal-panel {
	padding: 0 30px 0 0;
	float:right;
	span {
		@include plain-text();
		em {
			border-bottom: 1px dotted $text-color;
		}
	}
	.account {
		@include em-link();
		span{
			width: 128px;
		}
	}
	.msg {
		@include em-link();
		padding-left: 29px;
		background: url("../img/msg.png") 0 0 no-repeat;
		span{
			width: 81px;
		}
	}
	.login {
		display: inline-block;
		.dropdown {
			ul {
				display: none;
			}
		}
	}
}
.book-name {
	color:$text-color-w;
	font-family: $text-ff;
	font-size:28px;
	font-weight: bold;
	text-align: center;
}
.spec {
	@include plain-text();
	display: block;
	text-align: center;
	margin-top: 7px;
	.caret {
		margin-top: 7px;
	}
}
.dropdown {
	ul {
		display: none;
	}
}
.page {
	display: inline-block;
	position: relative;
	width: 830px;
	height: 1105px;
	border-radius:3px;
	background: #fff;
	padding: 0;
	box-shadow: 7px 8px 7px #1a1a1c;
	margin-bottom: 20px;
	.content {	}
}
.prev-pages{
	list-style: none;
	li {
		float: left;
		list-style:none;
		margin-left: 3px;
		text-align: center;
		cursor: pointer;
		.prev-page {
			width: 57px;
			height: 80px;
			background: #fff;
			border-radius:2px;
			box-shadow: 7px 8px 7px #1a1a1c;
		}
		.num-page {
			@include plain-text();
			@include gray-btn();
			display: inline-block;
			margin: 8px auto 20px;
		}
		&:hover {
			.num-page {
				@include blue-gradient;
			}
			.prev-page {
				box-shadow: inset 0px 0px 0 5000px rgba(151,152,154,0.5),
							7px 8px 7px #1a1a1c;
			}
		}
	}
}
.info {
	display: table-row;
	ul {
		width: 113px;
		margin-left: 20px;
		display: table-cell;
		vertical-align: bottom;
		li {
			@include plain-text;
			font-size: 10px;
			color:#494949;
			height: 28px;
			line-height: 28px;
			border-bottom:1px solid #494949;
			width: 100%;
			background: url(../img/ok.png) no-repeat right 8px;
			&.state-quest {
				color:#97989a;
				background: url(../img/quest.png) no-repeat right 8px;
			}
			&:hover{
				color:#97989a;
			}
			&:first-child {
				border-top:1px solid #494949;
			}
		}
	}
}
.media {
	display: table-row;
	vertical-align: top;
	li {
		float: right;
		clear: both;
		width: 30px;
		text-align: center;
		margin-bottom: 20px;
		padding-left:10px; 
	}
}
.filter-page {
	height: 22px;
	float: left;
	width: 145px;
	text-align: center;
	padding-bottom: 4px;
	ul {
		display: inline-block;
		li {
			@include plain-text();
			@include gray-btn();
			display: none;
			cursor: pointer;
			&.selected {
				display: inline-block;
				&.active {
					@include blue-gradient;
				}
			}
		}
	}
	.caret {
		margin-top: 10px;
	}
}
.tools{
	float: left;
	padding-left: 120px;
	text-align: center;
}
.editor {
	display: inline-block;
	li {
		float: left;
		display: inline-block;
		border:1px solid #494949;
		border-radius:3px;
		padding: 0 10px;
		height: 28px;
		line-height: 28px;
		margin-left: -1px;
		span {
			@include plain-text();
			.caret {
				margin-top: 14px;
			}
		}
	}
}
.search {
	display: inline-block;
	position: relative;
	top:-10px;
	input {
		@include plain-text;
		height: 26px;
		line-height: 26px;
		border-radius:17px;
		border:1px solid #989898;
		padding-left: 30px;
		background: url("../img/search.gif") no-repeat 10px 9px #fff;
		box-shadow: inset 0px 1px 0 0 #dedede;
	}
}
.page-tools {
	position: absolute;
	width: 35px;
	height: 71px;
	top:10px;
	right: 10px;
	border-radius:3px;
	box-shadow: 3px 3px 6px 0 #a3a3a3;
	.ico {
		margin: 0;
		border-radius:0 0 3px 3px;
		background: #4b4b49;
		width: 13px;
		height: 13px;
		padding: 11px;
		background-image: url("../img/page-tools.png");
		background-repeat: no-repeat;
		background-position: 11px -16px;
		&:first-child {
			border-radius:3px 3px 0 0;
			background-position: 11px 11px;
			border-bottom:1px solid #6a6967;
		}
		
	}
}
.popover {
	width: 250px;
	min-height: 150px;
	background-color: $popover-bg;
	border-radius: 11px;
	box-shadow: 0px 3px 7px rgba(0,0,0,0.5);
	position: absolute;
	z-index: 100;
	.popover-content {
		text-align: left;	
	}
	.popover-title {
		color:#999999;
		font-weight: bold;
		display: inline-block;
		height: 52px;
		width: 100%;
		line-height: 52px;
		background-color: #0072ff;
		border-radius: 0  0 11px 11px;
		text-align: left;
		text-indent: 19px;
		position: absolute;
		bottom: 0;
	}
	.arrow, .arrow:after {
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
	}
	.arrow {
		border-width: $popover-arrow-outer-width;
	}
	.arrow:after {
		border-width: $popover-arrow-width;
		content: "";
	}
	&.top {
		margin-top: -10px;
		top: -345px;
		left: -44px;
		.arrow {
			left: 50%;
			margin-left: -$popover-arrow-outer-width;
			border-bottom-width: 0;
			border-top-color: $popover-arrow-outer-fallback-color;
			border-top-color: $popover-arrow-outer-color;
			bottom: -$popover-arrow-outer-width;
		}
		.arrow:after {
			bottom: 1px;
			margin-left: -$popover-arrow-width;
			border-bottom-width: 0;
			border-top-color: $popover-bg;
		}
	}
	&.left {
		.arrow {
			top: 50%;
			right: -$popover-arrow-outer-width;
			margin-top: -$popover-arrow-outer-width;
			border-right-width: 0;
			border-left-color: $popover-arrow-outer-fallback-color;
			border-left-color: $popover-arrow-outer-color;
		}
		.arrow:after {
			right: 1px;
			border-right-width: 0;
			border-left-color: $popover-bg;
			bottom: -$popover-arrow-width;
		}
	}
	&.right {
		.arrow {
			top: 50%;
			left: -$popover-arrow-outer-width;
			margin-top: -$popover-arrow-outer-width;
			border-left-width: 0;
			border-right-color: $popover-arrow-outer-fallback-color;
			border-right-color: $popover-arrow-outer-color;
		}
		.arrow:after {
			left: 1px;
			bottom: -$popover-arrow-width;
			border-left-width: 0;
			border-right-color: $popover-bg;
		}
	}
	&.bottom {
		.arrow {
			left: 50%;
			margin-left: -$popover-arrow-outer-width;
			border-top-width: 0;
			border-bottom-color: $popover-arrow-outer-fallback-color;
			border-bottom-color: $popover-arrow-outer-color;
			top: -$popover-arrow-outer-width;
		}
		.arrow:after {
			top: 1px;
			margin-left: -$popover-arrow-width;
			border-top-width: 0;
			border-bottom-color: $popover-bg;
		}
	}
	&.search-result {
		width: 257px;
	}
	&.blue-title {
		&.top .arrow:after { border-top-color: #0072ff; }
		&.left .arrow:after { border-top-color: #0072ff; }
		&.right .arrow:after { border-top-color: #0072ff; }
		&.bottom .arrow:after { border-top-color: #0072ff; }
		.popover-title {
			color:#fff;
		}
	}
}
.medialib {
	width: 644px;
	height: 403px;
	left:651px;
	top:10px;
	.dir {
		margin-top:22px;
		margin-bottom:20px;
		padding: 0 10px 0 30px;
		width: 151px;
		height: 360px;
		float: left;
		overflow-x: hidden;
		overflow-y: scroll;
		@include circle-scroll(24px);
		ul, li {
			padding: 0;
			margin: 0;
			list-style: none;
			display: inline-block;
		}
		li {
			width: 100%;
			margin-bottom: 17px;
			padding: 0 0 0 9px;
			background: url(../img/dir-open.png) -11px 6px no-repeat;
			span {
				@include plain-text;
				font-size: 12px;
				height: 13px;
				line-height: 13px;
				width: 100%;
				padding:  0 0 0 20px;
				cursor: pointer;
				background: url(../img/dir.png) 0px -23px no-repeat;
				&:hover {
					color:#4b4b49;
				}
			}
			&.active {				
				background: url(../img/dir-open.png) 0px 6px no-repeat;
				span {
					background: url(../img/dir.png) 0px 0px no-repeat;
				}
				li {
					span {
						background: url(../img/dir.png) 0px -23px no-repeat;
					}
					&.active {
						background:none;
						span {
							background: url(../img/dir.png) 0px 0px no-repeat;
							color:#4b4b49;
						}
					}
				}
			}
			ul {
				border-left:1px solid #97989a;
				margin-left: 8px;
				margin-top: -1px;
				li {
					margin-top: 8px;
					margin-bottom: 0;
					background:none;
					height: 13px;
					line-height: 13px;
					width: 100px;
					position: relative;
					.stick {
						position: absolute;
						width: 10px;
						left: -1px;
						top: 7px;
						height: 0px;
						background: #DFDFDF;
						border-top: 1px solid #97989A;
					}
					&:last-child {
						.stick {
							height: 6px;
						}
					}
				}
			}
		}
	}
	.main {
		width: 425px;
		height: 360px;
		float: right;
		margin:22px 14px 20px 0;
		padding: 0;
		overflow: auto;
		@include circle-scroll(24px);
	}
}
.filter {
	list-style: none;
	float: left;
	li {
		float: left;
		a {
			display: inline-block;
			text-align: center;
			height: 22px;
			line-height: 22px;
			width: 130px;
			margin-right: 1px;
			background-color: #ececec;
			@include filter-gradient(#ececec, #cacacb, vertical);
			@include background-image(linear-gradient(top, #ececec 0%,#cacacb 100%));
			@include plain-text;
			font-size: 12px;
			cursor: pointer;
			&.active, &:hover {
				background-color: #7f8081;
				@include filter-gradient(#7f8081, #97989a, vertical);
				@include background-image(linear-gradient(top, #7f8081 2%,#97989a 100%));
				color:#fff;
			}
		}
	}
}
.select-media {
	margin-left: -4px;
	li {
		float: left;
		text-align: center;
		width: 96px;
		margin: 18px 5px 0 0;
		cursor: pointer;
		label {
			margin-bottom: 2px;
			display: inline-block;
			width: 100%;
			text-align: center;
			cursor: pointer;
			@include plain-text;
			&::after {
				display: block;
				margin: 8px auto 0;
				text-align: center;
				border:4px solid #dfdfdf;
				width: 14px;
				height: 14px;
				content:" ";
				border-radius: 11px;
				box-shadow: 0px 0px 1px 1px #9D9EA0;
			}
		}
		&:hover, &.active {
			label {
				color:#4b4b49;
				&::after {
					box-shadow: 0px 0px 1px 1px #4b4b49;
				}
			}
		}
		input:checked + label{
			color:#4b4b49;
			&::after {
				box-shadow: 0px 0px 1px 1px #4b4b49;
				background-color:#4b4b49;
			}	
		}
	}
	img {
		width: 88px;
		height: 54px;
		border-radius: 3px;
		clear: both;
		box-shadow: 2px 2px 7px #b1b1b1;
	}
}
.search-result {
	dl {
		padding: 19px;
		border-bottom: 1px;
		border-bottom-style: dotted;
		border-bottom-color: #999;
		&:last-child {
			border-bottom:none;
		}
		&:nth-child(even) {
			background-color: #eeeeee;
		}
		dt, dd {
			@include plain-text;
		}
		dt {
			padding-bottom: 14px;
		}
		dd {
			padding-bottom: 5px;
			strong {
				color:#000;
				font-weight: normal;
			}
			a {
				text-decoration: none;
				cursor: pointer;
			}
		}
	}
}
.themes {
	list-style: none;
	margin: 50px;
	float: left;
	width: 100%;
	li {
		float: left;
		list-style: none;
		a {
			text-decoration: none;
		}
		&.active {
			a {
				color:#fff;
			}
		}
	}
}
.tab-content {
	display: none;
}
p.illustration {
	overflow: hidden;
}
.colon_title, .colon_number {
	position: absolute;
}
.divscript {
	overflow: hidden;
}
.preloader{
	margin:0 auto;
	display: block;
	margin-top: 20%;
}